
.header {
  position:fixed;
  left: 12px;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 25px;
}
  .wrapper .left, 
  .wrapper .right {
    background:white;
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

.wrapper .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.wrapper .caption
{
  position: relative;
  z-index: 10;
  text-align: center;
}

.wrapper .caption h1 {
  position: relative;
  display: flex;
    text-align: center;
    left: 60%;
    top: -159vh;
    font-size: 450%;
    font-size: 4vw;
}

.coding {
  background:url('coding.png');
}


h1 {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  color: black;
}

/* Animation */
h1 {
  animation: animated-text 1s linear 1s 1 normal both,
             animated-cursor 8s linear infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 590px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: black}
  to{border-right-color: transparent;}
}
